<nav class="sidebar-nav">
  <div class="sidebar-brand">
    @if (!layoutService.isSidebarCollapsed()) {
      <span class="brand-text">Thaca</span>
      <span class="brand-badge">CMS</span>
    } @else {
      <span class="brand-icon">T</span>
    }
  </div>

  <div class="sidebar-menu">
    <ul class="menu-list">
      @for (item of model; track item.label) {
        @if (!item.separator) {
          <li app-menuitem [item]="item" [root]="true"></li>
        } @else {
          <li class="menu-divider"></li>
        }
      }
    </ul>
  </div>
</nav>
