<app-auth-layout>
  <div
    id="sing-in-card"
    class="h-full rounded-xl p-10 w-full lg:min-w-md max-w-md flex flex-col justify-center"
  >
    <div id="logo-section" class="text-center mb-8">
      <h1 class="text-2xl font-bold text-foreground mb-2">{{ 'auth.greeting' | translate }}</h1>
      <p class="text-foreground text-sm">{{ 'auth.description' | translate }}</p>
    </div>
    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="flex flex-col gap-1">
      <div class="flex flex-col gap-4">
        <div class="flex flex-col justify-center w-full">
          <thaca-input
            placeholder="{{ 'auth.usernamePlaceholder' | translate }}"
            [startIcon]="APP_CONFIG_ICONS['solarUserBold']"
            label="{{ 'auth.usernameLabel' | translate }}"
            [required]="true"
            formControlName="username"
            size="lg"
          />
          <validation-message
            [control]="form.get('username')"
            i18nPrefix="auth.validation"
            fieldName="username"
          ></validation-message>
        </div>
        <div class="flex flex-col justify-center w-full">
          <thaca-input
            placeholder="{{ 'auth.passwordPlaceholder' | translate }}"
            [startIcon]="APP_CONFIG_ICONS['solarLockPasswordBold']"
            label="{{ 'auth.passwordLabel' | translate }}"
            [required]="true"
            type="password"
            formControlName="password"
            size="lg"
          />
          <validation-message
            [control]="form.get('password')"
            i18nPrefix="auth.validation"
            fieldName="password"
          ></validation-message>
        </div>
      </div>
      <div id="options-section" class="flex items-center justify-end py-2">
        <a
          class="text-cyan-300 text-xs hover:text-cyan-200"
          tabindex="-1"
          href="/forgot-password"
          >{{ 'auth.forgotPassword' | translate }}</a
        >
      </div>
      <thaca-button class="w-full rounded-full!" type="submit" variant="primary" size="lg">
        <span class="text-white"> {{ 'auth.login' | translate }}</span>
      </thaca-button>
    </form>
  </div>
</app-auth-layout>
