{
  "printWidth": 100,
  "endOfLine": "auto",
  "singleQuote": true,
  "trailingComma": "all",
  "tabWidth": 2,
  "semi": true,
  "bracketSameLine": false,
  "htmlWhitespaceSensitivity": "ignore",
  "arrowParens": "avoid",
  "plugins": ["prettier-plugin-java"],
  "overrides": [
    {
      "files": "*.java",
      "options": {
        "tabWidth": 4,
        "printWidth": 120,
        "singleQuote": false,
        "trailingComma": "none"
      }
    },
    {
      "files": ["*.js", "*.jsx", "*.ts", "*.tsx", "*.json"],
      "options": {
        "tabWidth": 2
      }
    }
  ]
}
