@if (label) {
  <label class="thaca-label" [for]="id">
    {{ label }}
    @if (required) {
      <span class="thaca-required">(*)</span>
    }
  </label>
}

<div
  class="thaca-input-wrap"
  [class.has-icon-left]="startIcon"
  [class.has-icon-right]="hasRightSlot()"
  [class.is-error]="hasError()"
  [class.is-disabled]="disabled"
>
  @if (startIcon) {
    <span class="thaca-icon thaca-icon--left">
      <ng-icon [name]="startIcon.name" />
    </span>
  }

  <input
    class="thaca-input"
    [id]="id"
    [type]="inputType()"
    [placeholder]="placeholder"
    [value]="value()"
    [disabled]="disabled"
    [readonly]="readonly"
    (input)="onInput($event)"
    (blur)="onBlur()"
  />

  @if (type === 'password') {
    <span class="thaca-icon thaca-icon--right thaca-icon--clickable" (click)="onTogglePassword()">
      <ng-icon
        [name]="
          isPasswordVisible()
            ? APP_CONFIG_ICONS['solarEyeClosed'].name
            : APP_CONFIG_ICONS['solarEye'].name
        "
      />
    </span>
  } @else if (endIcon) {
    <span class="thaca-icon thaca-icon--right">
      <ng-icon [name]="endIcon.name" />
    </span>
  }

  @if (type !== 'password' && !endIcon) {
    <button
      tabindex="-1"
      type="button"
      class="thaca-clear-btn"
      [class.is-visible]="showClearButton()"
      (click)="clearValue($event)"
      [attr.aria-label]="'Clear input'"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  }
</div>
