<div class="flex flex-col gap-4 w-full">
  <app-breadcrumb [title]="'menu.user_list'" [items]="breadcrumbItems" />

  <app-data-table
    [config]="tableConfig"
    [externalFilter]="filter()"
    (onAction)="handleAction($event)"
  >
    <ng-template #searchTemplate>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-3 place-content-end place-items-end"
      >
        <thaca-input
          [(ngModel)]="filter().username"
          [placeholder]="'user.username_placeholder' | translate"
          (keyup.enter)="onSearch()"
          [label]="'user.username' | translate"
        />
        <thaca-input
          [(ngModel)]="filter().email"
          [placeholder]="'user.email_placeholder' | translate"
          (keyup.enter)="onSearch()"
          [label]="'user.email' | translate"
          type="email"
        />
        <thaca-dropdown
          class="w-full"
          [(ngModel)]="filter().isActivated"
          [placeholder]="'user.status_placeholder' | translate"
          (keyup.enter)="onSearch()"
          [label]="'user.status' | translate"
          [options]="statusOptions"
        />
        <thaca-dropdown
          class="w-full"
          [(ngModel)]="filter().isLocked"
          [placeholder]="'user.locked_placeholder' | translate"
          (keyup.enter)="onSearch()"
          [label]="'user.locked' | translate"
          [options]="lockedOptions"
        />
        <thaca-button size="md" class="w-full" variant="primary" (clicked)="onSearch()">
          <span class="text-white"> {{ 'common.button.search' | translate }} </span>
        </thaca-button>
      </div>
    </ng-template>
    <ng-template #headerActions>
      <div class="flex justify-end items-center gap-4">
        <thaca-button size="md" variant="secondary">
          <span class="text-foreground"> {{ 'common.button.export' | translate }} </span>
        </thaca-button>
        <thaca-button size="md" variant="primary" (click)="onCreate()">
          <span class="text-white"> {{ 'common.button.create' | translate }} </span>
        </thaca-button>
      </div>
    </ng-template>
  </app-data-table>
</div>

<thaca-modal #createModal title="user.modal.create_title" size="lg">
  <div class="flex flex-col gap-4">
    <thaca-input
      [label]="'user.username' | translate"
      [placeholder]="'user.username_placeholder' | translate"
    ></thaca-input>
  </div>
</thaca-modal>
