<div class="flex flex-col gap-4 w-full">
  <app-breadcrumb [title]="title()" [items]="breadcrumbItems" />

  <app-page-hint variant="info" icon="pi pi-lock" [title]="'common.page_hint.permission_title' | translate">
    {{ 'common.page_hint.permission_desc' | translate }}
  </app-page-hint>

  <app-data-table [config]="tableConfig" [externalFilter]="filter()">
    <ng-template #searchTemplate>
      <div class="flex justify-end items-end gap-4 leading-none">
        <thaca-input
          [(ngModel)]="filter().code"
          [placeholder]="'role_permission.permission.code_placeholder' | translate"
          [label]="'role_permission.permission.code' | translate"
          (onEnter)="onSearch()"
        />
        <thaca-button variant="primary" (clicked)="onSearch()">
          <span class="inline-flex items-center gap-2 text-white">
            <i class="pi pi-search"></i>
            {{ 'common.button.search' | translate }}
          </span>
        </thaca-button>
      </div>
    </ng-template>
    <ng-template #headerActions>
      <div class="flex justify-end items-center gap-4 leading-none">
        <thaca-button variant="outline" (click)="onExport()">
          <span class="inline-flex items-center gap-2">
            <i class="pi pi-download"></i>
            {{ 'common.button.export' | translate }}
          </span>
        </thaca-button>
      </div>
    </ng-template>
  </app-data-table>
</div>
