<div class="page-container flex flex-col gap-4">
  <app-breadcrumb [title]="'menu.lock_history'" [items]="breadcrumbItems"></app-breadcrumb>

  <app-page-hint variant="warning" icon="pi pi-lock" [title]="'common.page_hint.lock_history_title' | translate">
    {{ 'common.page_hint.lock_history_desc' | translate }}
  </app-page-hint>

  <app-data-table [config]="tableConfig" [externalFilter]="filter()">
    <ng-template #searchTemplate>
      <div class="flex justify-end items-end gap-4 leading-none">
        <thaca-dropdown
          class="w-full"
          [label]="'system_user.action' | translate"
          [options]="lockedOptions"
          [(ngModel)]="filter().action"
        ></thaca-dropdown>
        <thaca-input
          class="w-full"
          [label]="'system_user.reason' | translate"
          [(ngModel)]="filter().reason"
          [placeholder]="'system_user.reason_placeholder' | translate"
        ></thaca-input>
        <thaca-button class="w-full" variant="primary" (click)="onSearch()">
          <span class="inline-flex items-center justify-center gap-2 text-white">
            <i class="pi pi-search"></i>
            {{ 'common.button.search' | translate }}
          </span>
        </thaca-button>
      </div>
    </ng-template>
    <ng-template #headerActions>
      <div class="flex justify-end items-center gap-4">
        <thaca-button variant="outline" (click)="onExport()">
          <span class="inline-flex items-center gap-2">
            <i class="pi pi-download"></i>
            {{ 'common.button.export' | translate }}
          </span>
        </thaca-button>
      </div>
    </ng-template>
  </app-data-table>
</div>
