<div class="flex flex-col gap-4 w-full">
  <app-breadcrumb [title]="'menu.role_permission'" [items]="breadcrumbItems" />
  <app-data-table
    [config]="tableConfig"
    [externalFilter]="filter()"
    (onAction)="handleAction($event)"
  >
    <ng-template #searchTemplate>
      <div class="flex justify-end items-end gap-4 leading-none">
        <thaca-input
          [(ngModel)]="filter().code"
          [placeholder]="'role_permission.role.code_placeholder' | translate"
          [label]="'role_permission.role.code' | translate"
          (keyup.enter)="onSearch()"
        />
        <thaca-button variant="primary" (clicked)="onSearch()">
          <span class="text-white"> {{ 'common.button.search' | translate }} </span>
        </thaca-button>
      </div>
    </ng-template>
  </app-data-table>
</div>
<thaca-switch
  [(ngModel)]="filter().code"
  [label]="'role_permission.role.code' | translate"
  (keyup.enter)="onSearch()"
/>
