<div class="flex flex-col gap-4 w-full">
  <app-breadcrumb [items]="breadcrumbItems"></app-breadcrumb>
  <app-data-table [config]="tableConfig" (onAction)="handleAction($event)">
    <ng-template #searchTemplate>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-3 place-content-end place-items-end"
      >
        <thaca-input
          [label]="'plan.code' | translate"
          [(ngModel)]="filter().code"
          [placeholder]="'plan.code' | translate"
          (onEnter)="onSearch()"
          class="w-full"
        ></thaca-input>
        <thaca-input
          [label]="'plan.name' | translate"
          [(ngModel)]="filter().name"
          [placeholder]="'plan.name' | translate"
          (onEnter)="onSearch()"
          class="w-full"
        ></thaca-input>
        <thaca-dropdown
          [(ngModel)]="filter().type"
          [label]="'plan.type' | translate"
          [options]="planTypeOptions"
          [placeholder]="'plan.type' | translate"
          class="w-full"
        ></thaca-dropdown>
        <thaca-dropdown
          [label]="'plan.status' | translate"
          [(ngModel)]="filter().status"
          [options]="statusOptions"
          [placeholder]="'plan.status' | translate"
          class="w-full"
        ></thaca-dropdown>
        <thaca-button size="md" class="w-full" variant="primary" (clicked)="onSearch()">
          <span class="text-white">{{ 'common.button.search' | translate }}</span>
        </thaca-button>
      </div>
    </ng-template>
    <ng-template #headerActions>
      <div class="flex justify-end items-center gap-4">
        <thaca-button size="md" variant="secondary">
          <span class="text-foreground"> {{ 'common.button.export' | translate }} </span>
        </thaca-button>
        <thaca-button (click)="onCreate()">
          <span class="text-white">{{ 'common.button.create' | translate }}</span>
        </thaca-button>
      </div>
    </ng-template>
  </app-data-table>
</div>

<thaca-modal
  #planModal
  [title]="(planForm.value.id ? 'plan.actions.edit' : 'plan.actions.create') | translate"
>
  <form [formGroup]="planForm" class="grid p-fluid mt-2">
    <div class="col-12 field">
      <label class="font-semibold block mb-2"
        >{{ 'plan.code' | translate }} <span class="text-red-500">*</span></label
      >
      <thaca-input
        formControlName="code"
        [placeholder]="'plan.code' | translate"
        [disabled]="!!planForm.value.id"
      ></thaca-input>
    </div>
    <div class="col-12 field">
      <label class="font-semibold block mb-2"
        >{{ 'plan.name' | translate }} <span class="text-red-500">*</span></label
      >
      <thaca-input formControlName="name" [placeholder]="'plan.name' | translate"></thaca-input>
    </div>
    <div class="col-12 md:col-6 field">
      <label class="font-semibold block mb-2"
        >{{ 'plan.type' | translate }} <span class="text-red-500">*</span></label
      >
      <thaca-dropdown formControlName="type" [options]="planTypeOptions"></thaca-dropdown>
    </div>
    <div class="col-12 md:col-6 field">
      <label class="font-semibold block mb-2"
        >{{ 'plan.max_users' | translate }} <span class="text-red-500">*</span></label
      >
      <thaca-input type="number" formControlName="maxUsers"></thaca-input>
    </div>
    <div class="col-12 field">
      <label class="font-semibold block mb-2">{{ 'plan.status' | translate }}</label>
      <thaca-dropdown formControlName="status" [options]="statusOptions.slice(1)"></thaca-dropdown>
    </div>
  </form>

  <div footer class="flex justify-content-end gap-2 mt-3">
    <thaca-button color="secondary" variant="outline" (click)="planModal.hide()">
      {{ 'common.button.cancel' | translate }}
    </thaca-button>
    <thaca-button (click)="onSave()" [disabled]="planForm.invalid">
      {{ 'common.button.save' | translate }}
    </thaca-button>
  </div>
</thaca-modal>
