<div class="flex flex-col gap-4 w-full">
  <app-breadcrumb [title]="'menu.plan_management'" [items]="breadcrumbItems"></app-breadcrumb>
  <app-data-table [config]="tableConfig" (onAction)="handleAction($event)">
    <ng-template #searchTemplate>
      <div
        class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-5 gap-3 place-content-end place-items-end"
      >
        <thaca-input
          [label]="'plan.code' | translate"
          [(ngModel)]="filter().code"
          [placeholder]="'plan.code_placeholder' | translate"
          (onEnter)="onSearch()"
          class="w-full"
        ></thaca-input>
        <thaca-input
          [label]="'plan.name' | translate"
          [(ngModel)]="filter().name"
          [placeholder]="'plan.name_placeholder' | translate"
          (onEnter)="onSearch()"
          class="w-full"
        ></thaca-input>
        <thaca-dropdown
          [(ngModel)]="filter().type"
          [label]="'plan.type' | translate"
          [options]="planTypeOptions"
          [placeholder]="'plan.type_placeholder' | translate"
          class="w-full"
          (onChange)="onSearch()"
        ></thaca-dropdown>
        <thaca-dropdown
          [label]="'plan.status' | translate"
          [(ngModel)]="filter().status"
          [options]="statusOptions"
          [placeholder]="'plan.status_placeholder' | translate"
          class="w-full"
          (onChange)="onSearch()"
        ></thaca-dropdown>
        <thaca-button class="w-full" variant="primary" (clicked)="onSearch()">
          <span class="text-white">{{ 'common.button.search' | translate }}</span>
        </thaca-button>
      </div>
    </ng-template>
    <ng-template #headerActions>
      <div class="flex justify-end items-center gap-4">
        <thaca-button variant="outline" (clicked)="onExport()">
          {{ 'common.button.export' | translate }}
        </thaca-button>
        <thaca-button (click)="onCreate()">
          <span class="text-white">{{ 'common.button.create' | translate }}</span>
        </thaca-button>
      </div>
    </ng-template>
  </app-data-table>
</div>

<thaca-modal
  #planModal
  size="lg"
  [title]="
    (planForm.get('isUpdate')?.value ? 'plan.actions.edit' : 'plan.actions.create') | translate
  "
  [disableSubmit]="isUnchanged()"
  [loading]="isLoading()"
  [formGroup]="planForm"
  (onSubmit)="onSubmit()"
>
  <div class="grid grid-cols-1 gap-4">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
      <div class="form-control">
        <thaca-input
          [label]="'plan.code' | translate"
          [required]="true"
          formControlName="code"
          [placeholder]="'plan.code_placeholder' | translate"
        ></thaca-input>
        <validation-message
          [control]="planForm.get('code')"
          [customMessages]="{
            pattern: 'plan.validation.codePattern',
          }"
        ></validation-message>
      </div>
      <div class="form-control">
        <thaca-input
          [label]="'plan.name' | translate"
          [required]="true"
          formControlName="name"
          [placeholder]="'plan.name_placeholder' | translate"
        ></thaca-input>
        <validation-message [control]="planForm.get('name')"></validation-message>
      </div>
    </div>
    <div class="form-control">
      <thaca-dropdown
        [label]="'plan.type' | translate"
        [required]="true"
        formControlName="type"
        [options]="planTypeOptions.slice(1)"
        [clearable]="false"
        [placeholder]="'plan.type_placeholder' | translate"
        appendTo="body"
      ></thaca-dropdown>
      <validation-message [control]="planForm.get('type')"></validation-message>
    </div>
    <div class="form-control">
      <thaca-input
        [label]="'plan.max_users' | translate"
        [required]="true"
        type="number"
        formControlName="maxUsers"
        [placeholder]="'plan.max_users_placeholder' | translate"
      ></thaca-input>
      <validation-message [control]="planForm.get('maxUsers')"></validation-message>
    </div>
  </div>
</thaca-modal>
