<div
  class="tdd-root"
  [class.tdd-open]="open()"
  [class.tdd-disabled]="disabled"
  [class.tdd-readonly]="readonly"
  [class.tdd--sm]="size === 'sm'"
  [class.tdd--md]="size === 'md'"
  [class.tdd--lg]="size === 'lg'"
>
  @if (label) {
    <label class="thaca-label" [for]="id">{{ label | translate }}</label>
  }
  <button type="button" class="tdd-trigger" (click)="toggle()" [disabled]="disabled" [id]="id">
    <span class="tdd-trigger-label" [class.tdd-placeholder]="!selectedLabel()">
      {{ selectedLabel() ?? placeholder | translate }}
    </span>
    <span
      class="tdd-clear-btn"
      [class.is-visible]="showClearButton()"
      (click)="clear($event)"
      aria-label="Clear select"
      role="button"
      tabindex="-1"
    >
      &times;
    </span>
    <span class="tdd-trigger-icon">
      <svg
        viewBox="0 0 24 24"
        fill="none"
        stroke="currentColor"
        stroke-width="2.5"
        stroke-linecap="round"
      >
        <polyline points="6 9 12 15 18 9" />
      </svg>
    </span>
  </button>

  @if (open() && appendTo !== 'body') {
    <div class="tdd-panel">
      <ng-container *ngTemplateOutlet="optionList" />
    </div>
  }

  @if (open() && appendTo === 'body') {
    <div class="tdd-panel tdd-portal-panel" [ngStyle]="panelStyle()">
      <ng-container *ngTemplateOutlet="optionList" />
    </div>
  }
</div>

<ng-template #optionList>
  <div class="tdd-panel-inner">
    @for (opt of options; track opt.value) {
      <button
        type="button"
        class="tdd-option"
        [class.tdd-option--active]="opt.value === value()"
        [class.tdd-option--disabled]="opt.disabled"
        (click)="select(opt)"
      >
        @if (opt.icon) {
          <i [class]="opt.icon" class="tdd-option-icon"></i>
        }
        <span>{{ opt.label | translate }}</span>
        @if (opt.value === value()) {
          <span class="tdd-check">
            <svg
              viewBox="0 0 24 24"
              fill="none"
              stroke="currentColor"
              stroke-width="2.5"
              stroke-linecap="round"
            >
              <polyline points="20 6 9 17 4 12" />
            </svg>
          </span>
        }
      </button>
    }
  </div>
</ng-template>
