<div class="bc-root">
  <!-- Row 1: Title + back button -->
  <div class="bc-header">
    @if (showBack) {
      <button
        type="button"
        class="bc-back-btn"
        (click)="goBack()"
        [attr.aria-label]="'common.button.back' | translate"
      >
        <i class="pi pi-arrow-left"></i>
      </button>
    }
    <h1 class="bc-title">{{ title | translate }}</h1>
  </div>

  <!-- Row 2: Breadcrumb trail -->
  <p-breadcrumb [model]="items" [home]="home">
    <ng-template #item let-item let-last="last">
      @if (last) {
        <span class="bc-crumb bc-crumb--active">
          @if (item.icon) {
            <i [class]="item.icon" class="bc-crumb-icon"></i>
          }
          {{ item.label | translate }}
        </span>
      } @else {
        <a class="bc-crumb bc-crumb--link" [routerLink]="item.routerLink || item.url">
          @if (item.icon) {
            <i [class]="item.icon" class="bc-crumb-icon"></i>
          }
          {{ item.label | translate }}
        </a>
      }
    </ng-template>
  </p-breadcrumb>
</div>
